body {
    margin: 0;
    height: auto;
    width: auto;
    background-color: black;
    color: bisque;
    font-family: monospace;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0;
    font-size: 35px;
    display: inline-flex;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #1b1b1b;
    color: floralwhite;
}

.navbar a {
    display: inline-flex;
    align-content: center;
    justify-content: flex-start;
}

.navbarLogo {
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 50%;
}

.navbarTitle {
    font-size: 20px;
    min-width: 358px;
    align-self: center;
}

.navbarButtonContainer {
    padding-right: 15px;
    padding-left: 25px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
}

.navbarbutton {
    display: inline-block;
    background-color: rgb(56, 56, 56);
    align-self: center;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}

.navbarbutton-Selected {
    display: inline-block;
    background-color: rgb(38, 66, 110);
    align-self: center;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}

.pageHeaderBG {
    background-image: url('/public/bg.png');
    background-position: center;
    background-size: cover;
    height: 8%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.pageTitle {
    text-align: center;
    padding: 50px;
    padding-bottom: 50px;
    font-size: 45px;
    text-shadow: 3px 3px #293849;
}

.subTitle {
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    margin: 15px;
}

.pageHeader {
    text-align: center;
    padding: 50px;
    padding-bottom: 15px;
    font-size: 25px;
}

.socialsAlign {
    display: flex;
    justify-content: center;
}

.socialsContainer {  
    padding-top: 5px;
    display: flex;
    justify-self: center;
    justify-content: center;
    background-color: #293849;
    border-radius: 50px;
    width: fit-content;
}

.socialsButton {
    padding: 10px;
    width: 170px;
    height: 170px;
    display: inline-block;
    align-content: center;

}

.socialsIcons {
    width: 55px;
    height: 55px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.socialsText {
    background-color: #1b1b1b;
}

.projectsContainer {  
    padding-top: 5px;
    display: flex;
    justify-self: center;
    justify-content: center;
}

.projectsButton {
    padding: 10px;
    width: 170px;
    height: 170px;
    display: inline-block;
    align-content: center;

}

.projectsIcons {
    width: 55px;
    height: 55px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.projectsText {
    background-color: #1b1b1b;
}

p {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.newsContainer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.newsObject {
    margin: 25px;
    background-color: #293849;
    color: white;
    font-family: monospace;
    min-height: 200px;
    width: 35%;
    min-width: 500px;
    border:solid;
    border-color: cadetblue;
    border-radius: 8px;
}

.newsContainerInner {
    padding: 15px;
}

.newsContainerInner h2 {
    text-align: center;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}
  
body::-webkit-scrollbar-track {
    background: #242424;
}
  
body::-webkit-scrollbar-thumb {
    background: #293849;
}